@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}

main{
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');
  

.h1{
    width: 156px;
height: 69px;
top: 160px;
left: 235px;
gap: 0px;
opacity: 0px;
font-family: Heebo;
font-size: 44px;
font-weight: 900;
line-height: 60px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #21243D;
}

  .featured{
      width: 50%;
      margin: 0 auto;
  }
  
  .featured_p{
      font-family: Heebo;
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #21243d;
  }
  
  .block{
      margin-top: 10px;
      display: flex;
      /* justify-content: space-between; */
  }
  
  .bl_img{
      width: 246px;
  height: 180px;
  border-radius: 6px;
  }
  
  .bl_p{
      font-family: Heebo;
  font-size: 26px;
  font-weight: 700;
  line-height: 44.06px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 305px;
  height: 44px;
  top: 1077px;
  left: 410px;
  gap: 0px;
  opacity: 0px;
  color: #21243d;
  margin-bottom: 20px;
  }
  
  .year{
      width: 62px;
      height: 25px;
      border-radius: 16px;
      opacity: 0px;
  background-color: #142850;
  
  }
  
  .bl_p2_p{
      font-family: Heebo;
      font-size: 20px;
      font-weight: 900;
      line-height: 28px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
  color: #fff;     
  margin-left: 9px;   
  }
  
  .bl_p2{
      width: 243px;
  height: 34px;
  opacity: 0.5;
  font-family: Heebo;
  font-size: 26px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #8695A4;
  margin-left: 10px;
  }
  
  .rt{
      display: flex;
      margin-bottom:5px;
  }
  
  .bl_text{
      margin-left: 18px;
      width: 500px;
  }
  
  .bl_p3{
      
      height: 93px;
      top: 1188px;
      left: 410px;
      gap: 0px;
      opacity: 0px;
      font-family: Heebo;
      font-size: 16px;
      font-weight: 400;
      line-height: 23.5px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
  color: #21243d;        
  }