


<header>
  <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/work" routerLinkActive="active">Work</a>
  </nav>
</header>
<router-outlet />
<footer>
  <div class="footer_doch">
    <div class="footer_img1 footer_img"></div>
    <div class="footer_img2 footer_img" ></div>
    <div class="footer_img3 footer_img"></div>
    <div class="footer_img4 footer_img"></div>
  </div>
  <div><p class="f_p">Copyright ©2020 All rights reserved </p></div>
  
</footer>



